* {
  box-sizing: border-box;
}

html {background-color: #f1f1f2;}

body {
margin: 1% 15% 0 15%;
border-radius: 5px;
}

header {background-color: #21212f;
overflow: hidden;
}

main
{background-color: #fcfcfc;
	padding: 3% 10% 10% 10%;
}

a {
	color: white;
	text-decoration: none;
}


h3 {background-color: #FFCC05;
	padding: 0 0 0 2%;
	  text-decoration: none;  
  transition: color 0.5s;
    transition: background-color 0.5s;
}

h3:hover {
	  color: white;
	  background-color: #21212f;
}


.column_left {
float: left;
width: 35%;
display: table;
border-collapse: collapse;
}

.column_right {
display: table-cell;
width: 70%;
vertical-align: top;
padding: 0 0 0 10%; 
}

.column_left .profile_picture {
  display: block;
  text-align: center;
  zoom: 1.5;
}

.heading {
	text-decoration: underline;
}

header h2 {
padding-left: 15%;
float: left;
display: table;
}

.youtube {
padding: 10% 15% 10% 1130%;
display: table-cell;
vertical-align: top;
justify-content: center;
zoom: 0.5;
}

footer {
	background-color: #21212f;
position: relative;
min-height: 150px;
}

.footer {
	position: relative;
	    text-align: center;
	padding-top: 1%;
}

.code p {text-align: center}

.test2 p {color: white;
}

.test2 {
	position: relative;
text-align: center;	
padding-bottom: 1%
}

.projects a {color: black;
text-decoration: underline;}
